---

prom_path: ${prom_path}
lb_port: ${lb_port}
bastion_packages:
  - mc
  - tmux
  - screen
  - pv
  - tcpdump
  - strace
  - iperf
  - iftop
  - iotop
  - atop
  - htop
  - jq
  - redis-tools
  - mysql-client
